@import "./variables";
@import "./mixin";
@import "https://use.typekit.net/xml1lmt.css";

body {
  font-family: Roboto, sans-serif;
  color: $font-color;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

.cf::after {
  content: "";
  display: table;
  clear: both;
}
