* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
  background-color: #d6e7f2;
}

img {
  object-fit: contain;
  max-width: 100%;
}

.logIn{
  width: 375px;
  height: 254px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}

.divInsideLogIn{
  position: relative;
  width: 215px;
  margin: 0 auto;
  top: 10%;
}

.logIn input{
  width: 100%;
  height: 33px;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.logIn .inputName{
  text-align: left;
  color: #6D6D6D;
  font-size: small;
}

.logIn button{
  width: 72px;
  height: 26px;
  background-color: #152F8B;
  color: white;
  margin: 15px 0;
  font-weight: 100;
  border-radius: 5px;
  cursor: pointer;
}

.signUpPara{
  color: #E44933;
  font-size: small;
  cursor: pointer;
}