* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
  background-color: #d6e7f2;
}

img {
  object-fit: contain;
  max-width: 100%;
}

.logIn{
  width: 420px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  -ms-transform: translateY(50%);
  margin-top: 20%;
}

.divInsideLogIn{
  position: relative;
  width: 250px;
  padding: 15% 0 10% 0;
  margin: 0 auto;
  top: 10%;
}

.divInsideSignIn{
  position: relative;
  width: 250px;
  padding: 15% 0;
  margin: 0 auto;
  top: 10%;
}

.logIn input, .signUp input{
  width: 100%;
  height: 30px;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.logIn .inputName, .email, .pw, .pwConfirm{
  text-align: left;
  color: #6D6D6D;
  font-size: small;
}

.logIn button, .signUp button{
  width: 80px;
  height: 30px;
  background-color: #152F8B;
  color: white;
  margin: 15px 0;
  font-weight: 100;
  border-radius: 5px;
  cursor: pointer;
}

.signUpPara{
  color: #E44933;
  font-size: small;
  cursor: pointer;
}

.signInPara{
  color: #6D6D6D;
  font-size: small;
  cursor: pointer;
}

.signInPara span{
  color: #E44933;
  margin-left: 10px;
}

.signUp{
  width: 420px;
  // height: 254px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  margin-top: 17%;
}

.agreeDiv{
  display: flex;
  
}

.agreeTerm{
  text-align: left;
  color: #585858;
  font-size: small;
  width: 120%;
}

.agreeTermCheck{
  transform: scale(0.5);
  margin-left: -160px;
  margin-top: -6px;
}